<div class="centered">
  <div class="column is-10 is-centered">

    <%= simple_form_for @pet, html: { multipart: true } do |f| %>
      <%= f.error_notification %>

        <div class="columns">

          <div class="field column is-9">
            <div class="control">
              <%= f.input :name , required: true, input_html: { class: "input"}, wrapper: false, label_html: { class:"label" } %>
            </div>
          </div>

          <div class="field column">
            <div class="control">
              <%= f.input :age, required: true, input_html: { class:"input", maxlength: 2  }, wrapper: false, label_html: { class:"label" } %>
            </div>
          </div>

        </div>

        <div class="field">
          <div class="control">
            <%= f.input :location, required: true, input_html: { class:"input" }, wrapper: false, label_html: { class:"label" } %>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <%= f.input :description, required: true, input_html: { class:"textarea" }, wrapper: false, label_html: { class:"label" } %>
          </div>
        </div>

        <div class="columns">
          <div class="field column is-3">
            <div class="control">
              <label class="label">Animal</label>
              <div class="control">
                <span class="select">
                  <%= f.input_field :animal, collection: Pet::ANIMAL, prompt: "Selecione" %>
                </span>
              </div>
            </div>
           </div>

          <div class="field column is-2">
            <div class="control">
              <label class="label">Sexo</label>
              <div class="control">
                <span class="select">
                  <%= f.input_field :sex, collection: Pet::SEX, prompt: "Sexo" %>
                </span>
              </div>
            </div>
           </div>

          <div class="field column is-2">
            <div class="control">
              <label class="label">Raça</label>
              <div class="control">
                <span class="select">
                  <%= f.input_field :breed, collection: Pet::BREED, prompt: "Raça" %>
                </span>
              </div>
            </div>
           </div>
          

          <div class="field column is-3">
            <div class="control">
              <label class="label">Tamanho</label>
              <div class="control">
                <span class="select">
                  <%= f.input_field :size, collection: Pet::SIZE, prompt: "Tamanho" %>
                </span>
              </div>
            </div>
           </div>
          </div>
         <hr />



        <div class="field">
          <div class="control">
            <label class="label">Adicionar uma imagem</label>
              <div class="file">
              <label class="file-label">
                <%= f.input :image, as: :file, input_html: { class:"file-input pet-image" }, label: false, wrapper: false %>
                  <span class="file-cta">
                    <span class="file-label">Escolha uma foto..</span>
                  </span>
              </label>
              </div>
            </div>
          </div>
        <hr />

        <div class="field is-grouped">
          <div class="control">
            <%= f.button :submit, class: 'button is-warning' %>
            <%= link_to 'Cancelar', pets_path, class:'button is-light' %>
          </div>
        </div>

      <% end %>
  </div>
</div>
