<% content_for :header do %>
<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Adote agora mesmo um Totó
      </h1>
    </div>
  </div>
</section>
<% end %>

<div class="pet-index-grid pt4">
  <% @pets.each do |pet| %>

    <div class="pet border-light">
      <div class="pet-thumb">
      <%= link_to image_tag(pet.image_url(:thumb)), pet %>

      <% if pet.animal? %>
        <div class="type">
          <span class="tag is-dark"><%= pet.animal %></span>
        </div>
      <% end %>
      </div>


    <div class="pa3">

      <h3 class="fw7 f4 title"><%= link_to pet.name, pet %></h3>

      <p class="has-text-gray fg pt1"> Postado por:  <%= pet.user.name %></p>
      

      <% if pet_author(pet) %>
         <%= link_to 'Editar', edit_pet_path(pet), class: "button is-small" %>
         <%= link_to 'Deletar', pet, method: :delete, data: { confirm: "Tem certeza ?" }, class: "button is-small" %>
      <% end %>

    </div>
  </div>
  <% end %>
</div>