<% content_for :body_class, 'bg-light' %>

<section class="section pet-show">
  <div class="columns">
    <div class="column is-8">
      <h1 class="title is-2"><%= @pet.name %></h1>

      <ul class="pv1">
        <% if @pet.sex? %>
        <li class="inline-block pr3">Sexo: <%= @pet.sex %></li>
        <% end %>

        <li class="inline-block pr3"><%= @pet.location %></li>

        <% if @pet.size? %>
        <li class="inline-block pr3">Tamanho: <%= @pet.size %></li>
        <% end %>

        <% if @pet.age? %>
        <li class="inline-block pr3"><%= @pet.age %> anos </li>
        <% end %>

        <% if @pet.sex? %>
        <li class="inline-block pr3">Raça: <%= @pet.breed %></li>
        <% end %>

      </ul>

      <div class="feature-image">
        <%= image_tag(@pet.image_url(:default)) %>
      </div>

      <div class="content pa4 mt3 bg-white border-radius-3">

      <h3 class="subtitle is-4">Descrição</h3>
      <%= @pet.description %>


      <h3 class="subtitle is-4 pt5">Características do Pet</h3>

      <table class="table is-narrow">
        <% if @pet.size %>
        <tr>
          <td class="has-text-weight-bold">Tamanho:</td>
          <td><%= @pet.size %></td>
        </tr>
        <% end %>

        <% if @pet.sex %>
          <tr>
            <td class="has-text-weight-bold">Sexo:</td>
            <td><%= @pet.sex %></td>
          </tr>
        <% end %>

        <% if @pet.breed %>
          <tr>
            <td class="has-text-weight-bold">Raça:</td>
            <td><%= @pet.breed %></td>
          </tr>
        <% end %>


        <% if @pet.animal %>
          <tr>
            <td class="has-text-weight-bold">Animal:</td>
            <td><%= @pet.animal %></td>
          </tr>
        <% end %>

        <tr>
          <td class="has-text-weight-bold">Localização:</td>
          <td><%= @pet.location %></td>
        </tr>
      </table>
    </div>
    </div>
    <div class="column is-3 is-offset-1">
      <div class="bg-white pa4 border-radius-3">
        <h4 class="title is-5 has-text-centered"><%= (@pet.name) %></h4>
        <p class="has-text-centered mb4">Dono: <%= @pet.user.name %></p>
        <%= button_to 'Adotar' ,line_items_path(pet_id: @pet), class: 'button is-warning add-to-cart'%>
      </div>
    </div>
  </div>

  <% if pet_path(@pet) %>
    <%= link_to 'Editar', edit_pet_path(@pet), class: 'button' %>
  <% end %>
</section>