<p id="notice"><%= notice %></p>

<p>
  <strong>Pet:</strong>
  <%= @line_item.pet%>
</p>

<p>
  <strong>Cart:</strong>
  <%= @line_item.cart %>
</p>

<%= link_to 'Editar', edit_line_item_path(@line_item) %> |
<%= link_to 'Voltar', line_items_path %>
